.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.splash-animation-container {
  height: 50vh;
}

.splash-title-container {
  font-size: 2.5rem;
  text-decoration: none;
}
.splash-title {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 20px;
}

.splash-welcome h2 {
  font-size: 2rem;
  margin-top: 25px;
  color: var(--accent-color);
}

.splash-tagline p,
.splash-note p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-top: 10px;
}